<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbox</title>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
    <h3>All Chats</h3>
    <form method="GET" action="/chats/new">
        <BUtton>New Chat</BUtton>
    </form>
    <% for(let chat of chats){ %>
        <div class="chat">
            <p>From :<b>
                    <%= chat.from %>
                </b>
            </p>
            <div class="msg">
                <p>
                    <%= chat.message %>
                        <form method="GET" action="/chats/<%=chat._id%>/edit"><button>edit</button></form>
                        <form method="POST" action="/chats/<%=chat._id%>?_method=DELETE"><button>delete</button></form>
                </p>
            </div>
            <p>Received By <b>
                    <%= chat.to %>
                </b>
            </p>
            <hr>
            <p>
                <%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
        </div>
        <% } %>
</body>

</html>